{% load static %}
<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="/category/9/Smartphones/">
						<img src="{% static '' %}./img/iphone12_black_PzQzVcE.jpg" alt="" style="height:150px; width:auto; margin-left:100px;">
						<div class="banner-caption text-center">
							<h2 style="color:#FF8B1F;"> SMARTPHONES </h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="/category/7/desktop-pc/">
						<img src="{% static '' %}./img/computer.jpg" alt="" style="height:150px; width:auto; ">
						<div class="banner-caption text-center">
							<h2 style="color:#FF8B1F;"> COMPUTERS </h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" href="/category/6/laptops/">
						<img src="{% static '' %}./img/HP_laptop.jpeg" alt="" style="height:150px; width:auto; margin-left:100px;">
						<div class="banner-caption text-center">
							<h2 style="color:#FF8B1F;"> LAPTOPS</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->



	<!-- section -->
	<div class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title"> Special offer</h2>
					</div>
				</div>
				<!-- section title -->
				{% for product in special_offer %}
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<a href="/category/product/{{ product.id }}/{{ product.slug }}" class="main-btn quick-view" ><i class="fa fa-search-plus"></i> Quick view</a>
							<img src="{{ product.image.url }}" alt="" style="height:300px; width:auto;">
						</div>
						<div class="product-body">
							<h3 class="product-price"> {{ product.price }}₸</h3>
							{% if product.average_rating != 0 %}
							<div class="product-rating">
                                    <i class="fa fa-star{% if product.average_rating < 1 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if product.average_rating < 2 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if product.average_rating < 3 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if product.average_rating < 4 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if product.average_rating < 5 %}-o empty{% endif %}"></i>
                                </div>
							{% endif %}
							<h2 class="product-name"><a href="/category/product/{{ product.id }}/{{ product.slug }}"> {{ product.title }}</a></h2>
							<div class="product-btns">
								<a href="/order/addtoshopcart/{{ product.id }}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endfor %}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->