{% load static %}
{% load mptt_tags %}


<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            {% if request.path == '/' %}
              <div class="category-nav">
                {% else %}
              <div class="category-nav show-on-click">
            {% endif %}
                    <span class="category-header">Categories  <i class="fa fa-list"></i></span>
                    <ul class="category-list">
                        {% recursetree category %}
                        {% if not node.is_leaf_node %}
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{ node.title }} <i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <h3 class="list-links-title"> {{ node.title }}</h3>
                                            <li><a href="/category/{{ node.id }}/{{ node.slug }}/">{{ children }}</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <li><a href="/category/{{ node.id }}/{{ node.slug }}/">{{ node.title }}</a></li>
                            {% endif %}
                            {% endrecursetree %}
                        </li>
                    </ul>
                </div>
                <!-- /category nav -->

                <!-- menu nav -->
                <div class="menu-nav">
                    <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                    <ul class="menu-list">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'contacts' %}">Contact page</a></li>
                        <li><a href="{% url 'aboutus' %}">About us</a></li>
                        {% if request.user.username == 'Admin' %}
                        <li><a href="/admin/"> Admin Panel</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- menu nav -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->