{% extends 'home/layout.html' %}
{% load static %}
{% load currency %}
{% block title %} 9 Bit - Order summary{% endblock %}

{% block sidebar %}{% include 'home/sidebar.html' %}{% endblock %}

{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Checkout</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="checkout-form" class="clearfix" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Billing Details</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" value="{{ user.first_name }}" type="text" name="first_name"
                                   placeholder="First Name" >
                        </div>
                        <div class="form-group">
                            <input class="input" value="{{ user.last_name }}" type="text" name="last_name"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input class="input" value="{{ user.email }}" type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="input" value="{{ profile.address }}" type="text" name="address"
                                   placeholder="Address">
                        </div>
                        <div class="form-group">
                            <p>City: (из набора городов)</p>
                            <select name="city" class="input" id="id_city">
                                <option value="{{ profile.city }}" selected> {{ profile.city }}</option>
                                <option value="Astana">Astana</option>
                                <option value="Moscow">Moscow</option>
                                <option value="Ankara">Ankara</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="input" value="{{ profile.city }}" type="text" name="city"
                                   placeholder="City  Если возим везде">
                        </div>
                        <div class="form-group">
                            <input class="input" value="{{ profile.country }}" type="text" name="country"
                                   placeholder="Country">
                        </div>
                        <div class="form-group">
                            <input class="input" value="{{ profile.phone }}" type="tel" name="tel"
                                   placeholder="Phone number">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h4 class="title">Shiping Methods</h4>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="shipping" id="shipping-1" checked>
                            <label for="shipping-1">Free Shiping - $0.00</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                <p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="shipping" id="shipping-2">
                            <label for="shipping-2">Standard - $4.00</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                <p>
                            </div>
                        </div>
                    </div>

                    <div class="payments-methods">
                        <div class="section-title">
                            <h4 class="title">Payments Methods</h4>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="payments" id="payments-1" checked>
                            <label for="payments-1">Direct Bank Transfer</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                <p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="payments" id="payments-2">
                            <label for="payments-2">Cheque Payment</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                <p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="payments" id="payments-3">
                            <label for="payments-3">Paypal System</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                <p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Order Review</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th></th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for s in shopcart %}
                            <tr>
                                {% if s.variant != None %}
                                    <td class="thumb"><img src="{{ s.variant.image }}" alt=""></td>
                                    <td class="details">
                                        <a href="/category/product/{{ s.product.id }}/{{ s.product.slug }}">{{ s.variant.title }}</a>
                                    </td>

                                        <td class="price text-center"><strong>{{ s.variant.price|currency:request.session.currency }} {{ request.session.currency }}</strong><br><del class="font-weak"><small>{{ s.variant.price|currency:request.session.currency|add:100 }} {{ request.session.currency }} </small></del></td>
                                    {% else %}
                                        <td class="thumb"><img src="{{ s.product.image.url }}" alt=""></td>
                                        <td class="details">
                                            <a href="/category/product/{{ s.product.id }}/{{ s.product.slug }}">{{ s.product.title }}</a>
                                        </td>
                                      <td class="price text-center"><strong>{{ s.product.price|currency:request.session.currency }} {{ request.session.currency }}</strong><br><del class="font-weak"><small>{{ s.product.price|currency:request.session.currency|add:100 }} {{ request.session.currency }} </small></del></td>
                                {% endif %}
                                <td class="qty text-center"><strong>{{ s.quantity }}</strong></td>
                                <td class="total text-center"><strong class="primary-color"> {{ s.amount|currency:request.session.currency }} {{ request.session.currency }}</strong>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>TOTAL</th>
                                <th colspan="2" class="total"> {{ total|currency:request.session.currency }} {{ request.session.currency }}</th>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="pull-right">
                            <button class="primary-btn" type="submit"> Complete Order</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->


{% endblock %}
{% block foot %}{% include 'home/footer.html' %}{% endblock %}