{% extends 'home/layout.html' %}
{% load static %}
{% load currency %}
{% block title %} 9 Bit - Shopcart
{% endblock %}
{% block sidebar %}{% include 'home/sidebar.html' %}{% endblock %}

{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"> Shopcart
            </li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title">Order Review</h3>
                    </div>
                    <table class="shopping-cart-table table">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>
                            <th class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for s in shopcart %}
                        <tr>
                            {% if s.variant != None %}
                            <td class="thumb"><img src="{{ s.variant.image }}" alt=""></td>
                            <td class="details">
                                <a href="/category/product/{{ s.product.id }}/{{ s.product.slug }}">{{ s.variant.title }}</a>
                            </td>
                                <td class="price text-center"><strong>{{ s.variant.price|currency:request.session.currency }} {{ request.session.currency }}</strong><br><del class="font-weak"><small>{{ s.variant.price|add:50000 }}</small></del></td>
                            {% else %}
                                <td class="thumb"><img src="{{ s.product.image.url }}" alt=""></td>
                                <td class="details">
                                    <a href="/category/product/{{ s.product.id }}/{{ s.product.slug }}">{{ s.product.title }}</a>
                                </td>
                              <td class="price text-center"><strong>{{ s.product.price|currency:request.session.currency }} {{ request.session.currency }}</strong><br><del class="font-weak"><small>{{ s.product.price|currency:request.session.currency|add:100 }}</small></del></td>
                            {% endif %}

                            <td class="qty text-center"><input class="input" type="number" value="{{ s.quantity }}" min="1"></td>
                            <td class="total text-center"><strong class="primary-color"> {{ s.amount|currency:request.session.currency }} {{ request.session.currency }}</strong></td>
                            <td class="text-right">
                                <a href="/order/shopcart/deleteitem/{{ s.id }}" class="main-btn icon-btn"
                                onclick="return confirm('Are you shure want to delete {{ s.product.title }} from shopcart?')"><i class="fa fa-close"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                         <tr>
                            <th class="empty" colspan="3"></th>
                            <th>TOTAL</th>
                            <th colspan="2" class="total"> {{ total|currency:request.session.currency }} {{ request.session.currency }}</th>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="pull-right">
                        <a href="{% url 'checkout' %}" class="primary-btn">Place Order</a>
                    </div>
                </div>

            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}
{% block foot %}{% include 'home/footer.html' %}{% endblock %}