{% extends 'home/layout.html' %}
{% load static %}
{% block title %} 9 Bit - my products{% endblock %}
{% load currency %}
{% block sidebar %}{% include 'home/sidebar.html' %}{% endblock %}

{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">My products</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="col-md-3">
            {% include 'users/user_panel.html' %}
        </div>
        <div class="col-md-9">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
		    {% endif %}
            <div class="section-title">
                <h3 class="title"> My products </h3>
            </div>
            <table class="shopping-cart-table table">
                <thead>
                    <tr>
                        <th class="text-left">  </th>
                        <th class="text-left"> Product name </th>
                        <th class="text-center"> Price </th>
                        <th class="text-center"> Order </th>
                    </tr>
                </thead>
                <tbody>
                {% for my_product in my_products %}
                <tr>

                         {% if my_product.variant != None %}
                           <td class="thumb">
                            <a href="/category/product/{{ my_product.product.id }}/{{ my_product.product.slug }}">
                                <img src="{{ my_product.variant.image }}" alt="" style="height:50px;">
                            </a>
                            </td>
                            <td class="details">
                                <a href="/category/product/{{ my_product.product.id }}/{{ my_product.product.slug }}">{{ my_product.variant.title }}</a>
                            </td>
                            <td class="text-center"><strong>{{ my_product.variant.price|currency:request.session.currency }} {{ request.session.currency }}</strong><br><del class="font-weak"><small>{{ my_product.variant.price|add:50000 }} {{ request.session.currency }}</small></del></td>
                        {% else %}
                         <td class="thumb"><img src="{{ my_product.product.image.url }}" alt=""></td>
                            <td class="details">
                                <a href="/category/product/{{ my_product.product.id }}/{{ my_product.product.slug }}">{{ my_product.product.title }}</a>
                            </td>
                          <td class="text-center"><strong>{{ my_product.product.price|currency:request.session.currency }} {{ request.session.currency }}</strong><br><del class="font-weak"><small>{{ my_product.product.price|currency:request.session.currency|add:100 }} {{ request.session.currency }}</small></del></td>

                        {% endif %}

                     <td class="text-center"> {{ my_product.product.price|currency:request.session.currency }} {{ request.session.currency }}</td>

                      <td class="text-center"> <a class="primary-btn" href="/user/myorderdetail/{{ my_product.order.id }}">Order link</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}
{% block foot %}{% include 'home/footer.html' %}{% endblock %}



